body {
  font-family: sans-serif;
}
header {
  max-width: 100%;
  margin: 2rem auto;
}
header .field-group {
  margin: 2rem 0;
}
header .radio-item {
  display: inline-block;
  margin-right: 1rem ;
}
.carousel-container {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-slider-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.carousel-slider {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

/* pause on hover */
.carousel-slider-container:hover .carousel-slider {
  -webkit-animation-play-state: paused;
}
.carousel-slider .slide-item {
  width: 150px;
  min-width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-size: 5rem;
  color: #fff;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
